*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle-user-home-allzip
.gradle-user-home-build
.gradle-user-home-diagnose
.gradle-user-home-verify
.claude
.idea
.kotlin
*.jks
*.keystore
keystore.properties
